@use "sass:math";

// Мінімальна ширина сторінки
$minWidth: 320;
// Ширина полотна
$maxWidth: 1920;
// Ширина обмежуючого контейнера (0 = немає обмеження)
$maxWidthContainer: 1170;
// Загальний відступ у контейнера
// (30 = по 15рх ліворуч і праворуч, 0 = немає відступу)
$containerPadding: 30;
// Ширина спрацьовування першого брейкпоінту
$containerWidth: $maxWidthContainer + $containerPadding;

// Кольори
$mainColor: #807d7e;

// Шрифти
@import "fonts";
// Іконки
@import "icons";
// Обнулення
@import "reset";
// Компоненти
@import "common";
// Функції
@import "functions";

body {
	font-family: "Causten";
}

.wrapper {
	overflow: clip;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	main {
		flex-grow: 1;
	}
}
